node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
dist
build
.cache
.git
.gitignore
Dockerfile*
docker-compose.yml
*.md
.vscode
.idea
*.log
*.swp
*.swo
coverage
/uploads
/uploads/*
!.gitkeep
.DS_Store
*.iml
*.sublime*
*.tgz
Thumbs.db
# Ignore test output
*.test.js
*.spec.js
# Ignore misc
*.local
